.plant-details-page {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: var(--light-background-color);
  border-radius: 10px;
  box-shadow: 0 4px 8px var(--shadow-color);
  margin: 20px auto;
  max-width: 1000px;
  position: relative; /* Added for back button positioning */
}

@media (min-width: 768px) {
  .plant-details-page {
    flex-direction: row;
  }
}

.plant-images {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  flex-shrink: 0;
}

.plant-details-page img {
  width: 100%;
  max-width: 400px;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.plant-details-content {
  flex: 1;
  padding: 10px;
  text-align: left;
}

.plant-details-content h1 {
  color: var(--text-color);
  font-size: 2.5em;
  margin-top: 0;
}

.plant-details-content p {
  font-size: 1.1em;
  line-height: 1.6;
}

.plant-details-content strong {
  color: var(--text-color);
}

.back-button {
  background-color: transparent;
  color: var(--text-color);
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 2em;
  position: absolute;
  top: 10px;
  left: 10px;
  transition: color 0.2s ease-in-out;
}

.back-button:hover {
  color: var(--primary-color);
}

.back-button::before {
  content: '\2190'; /* Unicode for left arrow */
}